.App {
  text-align: center;
}
body  {
  background: url(./images/coding2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}
h2 {
  margin-left: 5em;
  color: rgb(255, 255, 255);
}
.navbar-nav {
  margin-left: 25em;
  font-family: 'Kanit', sans-serif;
  position: sticky;
  
}
.nav-item:hover {
  text-decoration: underline;
  text-transform: uppercase;
}

