.App {
  text-align: center;
}
body  {
  background: url(./images/coding2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}
h2 {
  margin-left: 5em;
  color: rgb(255, 255, 255);
}
ul.navbar-nav {
  background-color: black;
  margin-left: 25em;
  font-family: 'Kanit', sans-serif;
  position: fixed;
  
}
.nav-item:hover {
  text-decoration: underline;
  text-transform: uppercase;
}
#navbarNav {
  z-index: 100;

}

div.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

